.about {
	position: relative;
	background-color: #F2F0F1;
	padding: 90px 0;
	@media (max-width: 1040px) {
		padding: 70px 0;
	}
	@media (max-width: 904px) {
		padding-top: 60px;
		padding-bottom: 25px;
	}
	@media (max-width: 450px) {
		padding: 30px 0;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: start;
		height: 336px;
		@media (max-width: 904px) {
		display: block;
		margin-bottom: 200px;
		}
		@media (max-width: 585px) {
			height: 400px;
		}
		@media (max-width: 450px) {
			height: 258px;
		}
	}
	&__wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
		@media (max-width: 1040px) {
			padding: 0 30px;
		}
		@media (max-width: 904px) {
			padding: 0 23px;
		}
	}
	&__info {
		max-width: 480px;
		@media (max-width: 1040px) {
			max-width: 378px;
		}
		@media (max-width: 904px) {
		max-width: 700px;
		margin-bottom: 30px;
	}
		@media (max-width: 450px) {
		margin-bottom: 20px;
		}
	}
	&__title {
		margin-bottom: 30px;
		color: $color-primary;
		font-size: 50px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		@media (max-width: 1040px) {
			margin-bottom: 20px;
			font-size: 44px;
			line-height: 123%; 
		}
		@media (max-width: 904px) {
			margin-bottom: 20px;
			font-size: 30px;
			line-height: 113%;
		}
		@media (max-width: 450px) {
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 120%; 
		}
	}
	&__text {
		font-family: HelveticaNeueCyr;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		@media (max-width: 1040px) {
			font-size: 18px;
			line-height: 26px;
		} 
		@media (max-width: 904px) {
			font-size: 14px;
			line-height: 20px;
			width: 100%;
		}
		@media (max-width: 450px) {
			font-size: 14px;
			line-height: 142%;
		}
		&:not(:last-child) {
			margin-bottom: 38px;
			@media (max-width: 1040px) {
				margin-bottom: 25px;
			}
			@media (max-width: 904px) {
				margin-bottom: 30px;
			}
		}
	}	
	&__img {
		max-width: 580px;
		height: 330px;
		img {
			height: 100%;
		}
		@media (max-width: 1040px) {
			max-width: 480px;
			height: 308px;
		}
		@media (max-width: 904px) {
			max-width: 700px;
			height: 350px;
		}
		@media (max-width: 450px) {
			max-width: 270px;
			height: 174px;
		}
	}
	&__link {
		display: inline-block;
		position: relative;
		&:after{
			top: 7px;
			left: 100%;
		}
  }
}