.contacts {
	font-family: 'HelveticaNeueCyr';
	padding: 121px 0;
	background-color: $color-white;
	@media (max-width: 1040px) {
		padding-top: 70px;
		padding-bottom: 120px;
	}
	@media (max-width: 904px) {
		padding: 100px 0;
	}
	@media (max-width: 450px) {
		padding-top: 40px;
		padding-bottom: 70px;
	}
	&__plate {
		max-width: 780px;
		min-height: 592px;
		border-radius: 20px;
		margin: 0 auto;
		padding: 50px 100px;
    background-color: #f2f0f1;
		@media (max-width: 1040px) {
			max-width: 680px;
			min-height: 486px;
			padding: 50px 100px;
		}
		@media (max-width: 904px) {
			max-width: 540px;
			min-height: 440px;
			padding: 40px 68px;
		}
		@media (max-width: 450px) {
			max-width: 270px;
			min-height: 513px;
			padding: 30px 29px;

		}
	}
	&__container {
		max-width: 580px;
		min-height: 492px;
		padding: 0;
		margin: 0 auto;
		text-align: center;
		@media (max-width: 1040px) {
			max-width: 480px;
		}
		@media (max-width: 1040px) {
			max-width: 480px;
		}
		@media (max-width: 904px) {
			max-width: 420px;
		}
		@media (max-width: 904px) {
			max-width: 420px;
		}
		@media (max-width: 450px) {
			max-width: 206px;
		}
	}
	&__title {
		font-family: 'Comfortaa';
		font-weight: 700;
		font-size: 30px;
		line-height: 133%;
		text-align: center;
		color: #F2994A;
		margin-bottom: 30px;
		@media (max-width: 1040px) {
			font-size: 24px;
			line-height: 125%;
			margin-bottom: 20px;
		}
		@media (max-width: 904px) {
			font-size: 18px;
			line-height: 133%;
		}
		@media (max-width: 450px) {
			font-size: 16px;
			line-height: 137%;
		}
	}
	&__text {
		text-align: center;
		font-family: HelveticaNeueCyr;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%;
		margin-bottom: 16px;
		@media (max-width: 1040px) {
			font-size: 18px;
			line-height: 133%;
			padding: 0 46px;
		}
		@media (max-width: 904px) {
			font-size: 14px;
			line-height: 143%;
			padding: 0 42px;
		}
		@media (max-width: 450px) {
			padding: 0;
			text-align: center;
		}
	}
	&__adress {
		display: block;
		margin-bottom: 30px;
	}
	&__form {
		text-align: center;
	}
}
.text {
	&__span {
		color: #f2994a;
		font-weight: 700;
	}
}

.adress {
	&__item {
		position: relative;
		padding-left: 34px;
		&:before {
			content: '';
			position: absolute;
			display: inline-block;
			top: 5px;
			left: 0;
			margin-right: 16px;
			width: 24px;
			height: 24px;
			background-size: contain;
			background-repeat: no-repeat;
			@media (max-width: 450px) {
				margin-right: 16px;
			}
		}
		&_img {
			&_phone {
				&:before {
		  		background-image: url('../../img/phone.svg');
					@media (max-width: 506px) {
						left: 28%;
					}
					@media (max-width: 450px) {
						left: 12%;
					}
				}
			}
			&_email {
				&:before {
					background-image: url('../../img/mail.svg');
					@media (max-width: 506px) {
						left: 17%;
					}
					@media (max-width: 450px) {
						left: 2%;
					}
				}
			}
		}
	}
	&__text {
		font-family: HelveticaNeueCyr;
		font-size: 20px;
		font-style: normal;
		font-weight: 550;
		line-height: 30px;
		@media (max-width: 1040px) {
			font-size: 18px;
			line-height: 133%;
		}
		@media (max-width: 904px) {
			font-size: 14px;
			line-height: 143%;
		}
		@media (max-width: 450px) {
			font-size: 14px;
			line-height: 128%;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: 509px) {
			display: block;
		}
	}
}
.form {
	&__text {
		margin-bottom: 34px;
		@media (max-width: 450px) {
			margin-bottom: 28px;
		}
	}
	&__field {
		max-width: 420px;
		display: flex;
		gap: 20px;
		margin: 0 auto;
		margin-bottom: 35px;
		@media (max-width: 506px) {
			max-width: 200px;
			flex-direction: column;
			gap: 28px;
			margin-bottom: 20px;
		}
	}
	&__label {
		display: block;
		text-align: left;
		font-weight: 300;
		font-size: 12px;
		line-height: 117%;
		color: #282626;
	}
	&__input {
		width: 200px;
		height: 40px;
		border: none;
		@media( max-width:1040px) {
			height: 35px;
		}
		&_not-bottom {
			margin-bottom: 20px;
		}
	}
	&__wrap {
		display: flex;
		justify-content: flex-end;
		@media( max-width:450px) {
			justify-content: center;
		}
	}
	&__button {
		display: block;
		width: 80px;
		height: 90px;
		cursor: pointer;
		@media (max-width: 450px) {
			width: 61px;
			height: 73px;
		}
	}
	&__paw-icon {
		width: 73px;
		height: 71px;
		@media (max-width: 450px) {
			width: 61px;
			height: 59px;
		}
	}
	&__howto {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
	}
}





